.idea
vendor/fzaninotto/faker/test/
vendor/fzaninotto/faker/.git*
vendor/fzaninotto/faker/.travis.yml
vendor/fzaninotto/faker/*.md
vendor/fzaninotto/faker/Makefile
vendor/fzaninotto/faker/phpunit.xml.dist
/vue/dist/demo.html
/vue/dist/*.common.js
/vue/dist/*.map
/vue/dist/*.development.*
# only the minified bundle is served; the unminified one is no longer built
/vue/dist/*.umd.js
